<section id="contact" class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact us!</h2>
                <hr class="primary">
                <p>If you have any questions don't hesitate to reach out!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
            </div>
        </div>
    </div>
</section>
