<header id="main-header" class="container-fluid">
    <div class="header-content">
        <div class="header-content-inner">
            {% comment %}
            <hr>
            <h2>It's wedding week!</h2>
            <a href="#welcome" class="btn btn-info btn-xl page-scroll">Welcome</a>
            <a href="#event" class="btn btn-primary btn-xl page-scroll">Friday</a>
            <a href="#saturday-event" class="btn btn-success btn-xl page-scroll">Saturday</a>
            {% endcomment %}
        </div>
    </div>
</header>
