<section id="hotels">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hotels</h2>
                <hr>
                <p>Book your stay for the wedding weekend at one of these options, all close to the venue.</p>

                <div class="hotel-list">
                    <div class="hotel-card hotel-card-featured">
                        <span class="hotel-card-tag">Official Hotel</span>
                        <h4><a href="https://www.google.com/maps/search/?api=1&amp;query=The%20Paragon%20Hotel%2C%20Juan%20Salvador%20Agraz%2097%2C%20Santa%20Fe%2C%20Contadero%2C%20Cuajimalpa%20de%20Morelos%2C%2005348%20CDMX" target="_blank" rel="noopener">The Paragon Hotel</a></h4>
                        <p class="hotel-card-address">📍 Juan Salvador Agraz 97, Santa Fe, Contadero, Cuajimalpa de Morelos, 05348 CDMX</p>
                        <p class="hotel-card-code">Book directly with them and use the code <strong>BODA GIO &amp; CARLOS</strong> for a special wedding-weekend rate.</p>
                    </div>

                    <h5 class="hotel-list-subheading">Other nearby options</h5>

                    <div class="hotel-card">
                        <h4><a href="https://www.google.com/maps/search/?api=1&amp;query=City%20Express%20Plus%20Santa%20Fe%2C%20Juan%20Salvador%20Agraz%2069%2C%20Santa%20Fe%2C%20Contadero%2C%20Cuajimalpa%20de%20Morelos%2C%2005348%20CDMX" target="_blank" rel="noopener">City Express Plus Santa Fe</a></h4>
                        <p class="hotel-card-address">📍 Juan Salvador Agraz 69, Santa Fe, Contadero, Cuajimalpa de Morelos, 05348 CDMX</p>
                    </div>

                    <div class="hotel-card">
                        <h4><a href="https://www.google.com/maps/search/?api=1&amp;query=Sleep%20Inn%20Mexico%20City%2C%20Carr.%20M%C3%A9xico-Toluca%205454%2C%20El%20Yaqui%2C%20Cuajimalpa%20de%20Morelos%2C%2005320%20CDMX" target="_blank" rel="noopener">Sleep Inn Mexico City</a></h4>
                        <p class="hotel-card-address">📍 Carr. México-Toluca 5454, El Yaqui, Cuajimalpa de Morelos, 05320 CDMX</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
