{% load static %}
<section id="our-story">
    <div class="container-fluid">
        <div class="our-story-row">
            <div class="our-story-title">
                <h2 class="section-heading great-vibes-regular">Our Story</h2>
            </div>
            <div class="our-story-divider"></div>
            <div class="our-story-text">
                <p>
                    Giovanna, born and raised in Rio de Janeiro, Brazil. Carlos, born in Mexico City, raised between Mexico, Guatemala, Colombia and Ireland. Two very different worlds, until 2019, when both landed in Venlo, a tiny Dutch town, for an exchange.</p>

                    <p>Gio planned to stay 6 months. Carlos, a year. Carlos was determined to make the Brazilian fall for him. Gio was determined not to, but she failed miserably once she saw Carlos in the dance floor (or thats what he wants to believe). Gio stayed in the Netherlands to finish her studies. Carlos went back to Mexico, promising to return for his Master's (allegedly for academic reasons, but we all know that it was for Gio). Through a pandemic, long distance, and visa headaches, a Brazilian and a Mexican, the odds were never in their favor, made it work anyway.</p>
                    <p>In 2025, under the warm and sunny Portugal, Carlos got down on one knee and (finally for Gio) asked.</p>

                    <p>
                    This wedding marks the official celebration of their love, the beginning of a new family, the union of 2 cultures. For that, they selected the most special and important people, between family and friends, to celebrate their love. Living abroad is one of the hardest decisions, being far from family and friends, and that is why they prepared this celebration with all their loved ones.
                    </p>
            </div>
        </div>
        <div class="our-story-photo">
            <img src="{% static 'bigday/images/hand_kiss.jpeg' %}" alt="{{ couple_name }}">
        </div>
    </div>
</section>
